.how-it-works {
  text-align: center;
  padding: 4rem 1rem;
  background: #f9fcff;

  h2 {
    font-size: 2.5rem; 
    font-weight: 600;
     color: #004f93;
  }

  .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
}