.how-it-works {
  text-align: center;
  padding: 4rem 1rem;

  h2 {
    font-size: 2.5rem; // 40px
    font-weight: 600;
    color: #434343;
  }

  .video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9 ratio
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
}