.footer-wrapper {
  width: 100%;
  background: #ffffff;
  padding-top: 40px;
}

/* --- TOP Guarantee Banner --- */
.guarantee-banner {
  background: #0F1417;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 70px;
}

.left-content {
  max-width: 600px;

  h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.2;
  }

  .bullet {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;

    p {
      color: white;
      opacity: 0.9;
      font-size: 16px;
      line-height: 1.4;
    }

    .check-icon {
      width: 28px;
      height: 28px;
      margin-top: 16px;
    }
  }
}

.right-content {
  position: relative;

  .cta-box {
    background: none;
    padding: 30px 40px;
    left: -100px;
    transform: translateX(-100px);

    p {
      color: white;
      opacity: 0.9;
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    .cta-button {
      background: #0060A9;
      color: white;
      border: none;
      border-radius: 40px;
      padding: 12px 28px;
      font-size: 25px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .right-circle {
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: -200px;
    right: -20px;
    z-index: 0;       // Ensures it is BEHIND the content
    pointer-events: none;
  }
}

/* --- Bottom Footer --- */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 70px;
  gap: 100px;
  width: 100%;
}

.pin-icon {
      width: 28px;
      height: 28px;
      margin-top: 13px;
}

.email-icon {
      width: 28px;
      height: 28px;
      margin-top: 13px;
}

.footer-col {
  flex: 1;

  h3 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  a {
    display: block;
    margin-bottom: 12px;
    color: #0F1417;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      opacity: 0.8;
    }
  }

  .contact-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 0px;

    img {
      width: 28px;
      height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

/* Logo column */
.logo-col {
  max-width: 260px;

  .company-logo {
    width: 90px;
    margin-bottom: 12px;
  }

  .description {
    font-size: 15px;
    opacity: 0.8;
    line-height: 1.4;
  }
}

.footer-col h3,
.footer-col a,
.footer-col p {
  color: #0F1417;   // main footer text color
}

.logo-col .description {
  color: #4A4A4A;   // slightly lighter gray for small text
}

.logo-col {
  max-width: 800px;
}

.nav-col {
  max-width: 800px;
}

.contact-col {
  max-width: 400px;
}
